<html>
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Safal Phasal</title>

    <!--Inter UI font-->
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/landing_page/css/default.css') }}" id="theme-color">
    {% endblock %}
</head>
<body>

{% block body %}
<!--navigation-->
<section class="smart-scroll">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand heading-black" style="font-size: 50px; color: #3fc96f;">
                Safal Phasal
            </a>
        </nav>
    </div>
</section>

<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize">From Queries to Solutions, We've Got you Covered!, "Grow Your Farm, Grow Your Profits: The
                    Ultimate Agricultural One-Stop-Solution!</h1>
                <p class="lead py-3">Empowering farmers with essential knowledge and tools they can use to improve their farming
                    practices and ultimately live better lives.</p>
                <a href="{{ url_for('Login') }}">
                    <button class="btn btn-primary d-inline-flex flex-row align-items-center">
                        Get started now
                        <em class="ml-2" data-feather="arrow-right"></em>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<!--pricing section-->
<section class="py-7 bg-dark section-angle top-right bottom-right" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="text-white heading-black">One-Stop Solution for Every Farmers Needs.</h2>
                <p class="text-light lead">Farmer Fairheaven</p>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-md-4 mr-auto">
                <h3>We've got you Covered!</h3>
                <p class="lead">
                    Got just a question or need a new Tractor! We've got you covered every step of the way!
                </p>
            </div>
            <div class="col-md-7 offset-md-1">
                <ul class="features-list">
                    <li>Personally Connect with agricultural experts in a language of your choice</li>
                    <li>Personalized and Target Specific Solutions Offered</li>
                    <li>Connect with Agricultural Brands from all over the Nation</li>
                    <li>Get Aided by financial experts to claim all eligible rebates and subsidies</li>
                    <li>Customized product solution based on inputs from both experts and AI</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="js/scripts.js"></script>
{% endblock %}
</body>
</html>